# Example .env file
# Make a copy of this file named ".env" and fill out the properties
# Note: The .env file should _not_ be checked in to Git!

# File containing server-specific Rails environment variables.
# Do not check into Git!

# Set the rails environment
RAILS_ENV=

# --- config/secrets.yml
# Secret key used to verify signed cookies
SECRET_KEY_BASE=

# --- config/database.yml
# The type of database
PROD_DATABASE_ADAPTER=

# The name of the database
PROD_DATABASE_NAME=

# The encoding to use
PROD_DATABASE_ENCODING=

# The username used to connect to the database
PROD_DATABASE_USERNAME=

# The password used to connect to the database
PROD_DATABASE_PASSWORD=

# The host for the database
PROD_DATABASE_HOST=

# The port for the database
PROD_DATABASE_PORT=

# Pool size
PROD_DATABASE_POOL=

# --- config/solr.yml config/blacklight.yml
# Solr URL
SOLR_URL=


# --- config/settings.yml
# Avalon Host domain. 
# Example https://broadcast-dev.lib.umd.edu
SETTINGS__DOMAIN=

# Dropbox upload URL
# Example sftp://broadcast-dev.lib.umd.edu/apps/bcast/avalon/dropbox
SETTINGS__DROPBOX__UPLOAD_URI=

# Email addresses
SETTINGS__EMAIL__COMMENTS=
SETTINGS__EMAIL__NOTIFICATION=
SETTINGS__EMAIL__SUPPORT=

# RTMP Streaming Base URL
# Example rtmp://broadcast-dev.lib.umd.edu/avalon
SETTINGS__STREAMING__RTMP_BASE=

# HTTP Streaming Base URL
# Example https://broadcast-dev.lib.umd.edu/streams
SETTINGS__STREAMING__HTTP_BASE=


# --- config/fedora.yml
FCREPO_URL=
FCREPO_BASE_PATH=
FCREPO_USERNAME=
FCREPO_PASSWORD=
