# Template for configuring local environment variables
# Copy this to create the .env file and docker-compose
# will pickup the values from the .env file.

# SAML SP's Signing Key
SAML_SP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----"

# SAML SP's Certificate
SAML_SP_CERTIFICATE="-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----"

# Handle Configuration
UMD_HANDLE_SERVER_URL=
UMD_HANDLE_JWT_TOKEN=

# IP Manager Configuration
IP_MANAGER_SERVER_URL=

# Matomo Analytics configuration
MATOMO_ANALYTICS_URL=https://umd.matomo.cloud/
MATOMO_ANALYTICS_SITE_ID=
MATOMO_ANALYTICS_CDN_SRC= //cdn.matomo.cloud/umd.matomo.cloud/matomo.js
