<% unless @masterFiles.nil? || @masterFiles.empty? ||  !@master_file_download_allowed %>
  <div id="download-button-block" style="display: inline-block;">
    <button type="button" class="btn btn-default" id="download-button" data-toggle="modal" data-target="#downloadModal">
      <i class="fa fa-download" style="color: #2a5459"></i>
      Download
    </button>
  </div>

  <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="downloadModalLabel">Download</h5>
        </div>
        <div class="modal-body">
          <ul>
            <% @masterFiles.each do |master_file| %>
              <li><%= link_to(File.basename(master_file.file_location), download_master_file_path(id: master_file.id, access_token: @access_token)) %></li>
            <% end %>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
