name: 'WTOP Broadcasting Content Management Pilot' # used in page titles
fedora:
  namespace: avalon
domain:
  host:
  port:
  protocol:
dropbox:
  path: '/apps/bcast/avalon/dropbox/'
  upload_uri:
encoding:
  engine_adapter: matterhorn
matterhorn:
  root: 'http://localhost:8080/'
  baseApplication: 'avalon'
  cleanup_log: 'log/cleanup_jobs.log'
  media_path: '/apps/bcast/avalon/masterfiles/'
mediainfo:
  path: '/usr/bin/mediainfo'
ffmpeg:
  path: '/usr/local/bin/ffmpeg'
email:
  comments:
  notification:
  support:
  mailer:
    smtp:
      address: 'libsmtp.umd.edu'
      port: 587
      enable_starttls_auto: false
streaming:
  server: :generic
  stream_token_ttl: 20 #minutes
  rtmp_base:
  http_base:
  default_quality: 'high'
  content_path: '/apps/bcast/avalon/rtmp_streams'
solr:
  configset: avalon
  configset_source_path: <%= File.join(Rails.root, 'solr', 'config') %>
  collection_options:
    async:
    auto_add_replicas:
    collection:
      config_name: avalon
    create_node_set:
    max_shards_per_node:
    num_shards: 1
    replication_factor:
    router:
      name:
      field:
    rule:
    shards:
    snitch:
zookeeper:
  connection_str: "localhost:9983/configs"
redis:
  host: localhost
  port: 6379
groups:
  system_groups: [administrator, group_manager, manager]
master_file_management:
  strategy: 'none' #'delete', or 'move' (for move uncomment and configure next line)
  #path: '/path/to/move/to'
bib_retriever:
  protocol: sru
  url: http://zgate.example.edu:9000/exampledb
  query: rec.id='%s'
controlled_vocabulary:
  path: config/controlled_vocabulary.yml
encode_throttling:
  create_jobs_throttle_threshold: 2
  create_jobs_spacing: 5
  update_jobs_throttle_threshold: 3
  update_jobs_spacing: 10
auth:
  configuration:
    - :name: Avalon Test Auth
      :provider: :identity
      :params:
        :fields:
        - :email