name: 'Avalon Media System' # used in page titles
domain:
  host: av-local
  port: 3000
  protocol: http
dropbox:
  path: /srv/avalon/dropbox
  upload_uri: sftp://avalon.example.edu
encoding:
  engine_adapter: ffmpeg
  presets_path: config/ffmpeg_presets.yml
mediainfo:
  path: '/usr/bin/mediainfo --urlencode' # Fixes mediainfo v20.03 bug with S3 presigned URL
ffmpeg:
  path: '/usr/local/bin/ffmpeg'
email:
  mailer: :smtp
  config:
    address: mail-relay.university.edu
    port: 25
    enable_starttls_auto: false
  comments: 'avalon-comments@example.edu'
  notification: 'avalon-notifications@example.edu'
  support: 'avalon-support@example.edu'
solr:
  configset: avalon
  configset_source_path: <%= File.join(Rails.root, 'solr', 'config') %>
  collection_options:
    async:
    auto_add_replicas:
    collection:
      config_name: avalon
    create_node_set:
    max_shards_per_node:
    num_shards: 1
    replication_factor:
    router:
      name:
      field:
    rule:
    shards:
    snitch:
zookeeper:
  connection_str: 'localhost:9983/configs'
streaming:
  server: :generic
  stream_token_ttl: 20 #minutes
  content_path: '/srv/avalon/content'
  rtmp_base: 'rtmp://localhost/avalon'
  http_base: 'http://localhost:3000/streams'
  default_quality: 'auto'
redis:
  host: localhost
  port: 6379
groups:
  system_groups: [administrator, group_manager, manager]
master_file_management:
  strategy: 'none' #'delete', or 'move' (for move uncomment and configure next line)
  #path: '/path/to/move/to'
bib_retriever:
  default:
    protocol: sru
    url: http://zgate.example.edu:9000/exampledb
    query: rec.id='%s'
    retriever_class: 'Avalon::BibRetriever::SRU'
    retriever_class_require: 'avalon/bib_retriever/sru'
controlled_vocabulary:
  path: config/controlled_vocabulary.yml
encode_throttling:
  create_jobs_throttle_threshold: 2
  create_jobs_spacing: 5
  update_jobs_throttle_threshold: 3
  update_jobs_spacing: 10
auth:
  registerable: false
  configuration:
    - :name: CAS Login
      :provider: :saml
      :params:
        issuer: av-local
        idp_cert_fingerprint: 'B8:98:58:08:FA:42:BB:D2:86:14:49:61:8F:B9:BF:7B:45:1A:7C:67'
        idp_sso_target_url: https://shib.idm.umd.edu/shibboleth-idp/profile/SAML2/Redirect/SSO
        idp_slo_target_url: https://shib.idm.umd.edu/shibboleth-idp/profile/Logout
        uid_attribute: 'urn:oid:0.9.2342.19200300.100.1.1'
        attribute_statements:
          email: ['urn:oid:0.9.2342.19200300.100.1.3']
          roles: ['urn:oid:1.3.6.1.4.1.5923.1.1.1.7']
        security:
          authn_requests_signed: true # Enable or not signature on AuthNRequest
          want_assertions_signed: true # Enable or not the requirement of signed assertion
          digest_method: http://www.w3.org/2000/09/xmldsig#sha1
          signature_method: http://www.w3.org/2000/09/xmldsig#rsa-sha1
          embed_sign: false
          metadata_signed: false # Enable or not signature on Metadata
        # request_attributes: {}

#   configuration:
#     - :name: Avalon Lti OAuth
#       :provider: :lti
#       :hidden: true
#       :params:
#         :oauth_credentials:
#           somekey: somesecret
# google_analytics_tracking_id: "someid"
supplemental_files:
  proxy: false
waveform:
  player_width: 1200 #pixels
  finest_zoom: 5 #seconds
  sample_rate: 41000
