@charset "UTF-8";
/* Library cusotm css to overwrite Avalon default css stytles */

.block {
  display: inline;
}
.lib-logo {
  margin: 15px 10px 15px 3px;
  width: 161px;
  height: 50px;
}
.header-logo img {
  display: inline;
}
/* keyboard access highlight */
a:focus, button:focus {
  outline: auto 2px Highlight !important; /* for Firefox */
  outline: -webkit-focus-ring-color auto 5px !important; /* for Safari, Chrome */
  text-decoration: underline;
}
.brand {
  color: #000;
  padding: 15px 10px;
  font-size: 34px;
  vertical-align: middle;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#header-navbar {
  background: rgba(0, 0, 0, 0.66) !important;
}
.btn-group .dropdown-menu > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
a.btn{
  text-decoration: none;
}
p a, l a, div a {
  color: #035e8c;
  font-weight: 800;
  text-decoration: none;
}
a, a:hover, a:active, a:focus, #skip-to-content a{
  color: #035e8c;
  text-decoration: underline;
}
a#skip-to-content {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  -webkit-transition: top 1s ease-out, background 1s linear;
  transition: top 1s ease-out, background 1s linear;
  z-index: 100;
}
a:focus#skip-to-content {
  position:absolute;
	left:80px;
	top:155px;
	background:#222;
	outline:0;
	-webkit-transition: top .1s ease-in, background .5s linear;
  transition: top .1s ease-in, background .5s linear;
}
.dl-invert dt {
  color: #333;
}
.btn-info {
  color: #000;
  background-color: #f0ad4e; 
  border-color: #f0ad4e;
  font-weight: 500px;
}
.btn-info:hover, .btn-info:focus {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
/* Homepage image */
.homepage-splash-top-section {
  background-image: url('homepage-splash-umd.png');
}
/* Carousel */
.homepage-splash-collections-title a {
  color: #035e8c;
  
}
.homepage-splash-collections {
    background: #F0F0F0;
}
.collection-carousel a {
    color: #035e8c;
    font-weight: 800;
    font-size: 16px;
}
.btn-link{
  color: #035e8c;
  font-weight: 800;
}
.btn-link:hover{
  text-decoration: underline;
  color: #035e8c;
}
.navbar-default .navbar-nav > li > a:hover {
  background: #000;
  color: #fff;
}
.btn-primary {
  color: white;
  background-color: #a40404;
  border-color: #a40404;
}
.homepage-splash-lead-copy{
  background: rgba(000, 0, 0, 0.8);
}
.sidenav .top-panel-heading {
  background-color: #333;
}
.sidenav .top-panel-heading h2 {
  color: #fff;
}
.digital .headline h1, .headline h2, .headline h3, .headline h4 {
  border-bottom: 2px solid #a40404;
  color: #e4e4e4;
}
.facet_limit-active > .panel-heading {
  color: #3c763d;
  background-color: #d7d7d7;
  border-color: #d7d7d7;
}
.panel-title > a, .panel-title {
  color: #000;
}
.panel-success>.panel-heading+.panel-collapse>.panel-body, .facet_limit-active>.panel-heading+.panel-collapse>.panel-body{
  background: #f8f8f8;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body, .facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ccc;
}

.text-success, .facet-values li .selected{
  color: #a40404;
}
.alert-danger {
  color: #8a6d3b;
  background-color: #fcf8e3 !important;
  border-color: #faebcc !important;
}
.alert-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  color: #000;
  font-weight: 500;
}
.alert-success {
  background-color: #17612b;
  border-color: #17612b;
  color: #fff;
  font-weight: 500;
}
.close {
  color: #fff;
  opacity: 1;
}
.remove {
  color: #333;
}
.text-muted{
  color: #333;
}
.headline {
  color: #a40404;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  color: #a40404;
}
.collection-unit-wrapper {
  border-top: 2px solid #222;
}
#footer.homepage-footer {
  background: #333;
}
#footer .container {
  display: flex;
  justify-content: center;
}
footer a {
  color: #f0ad4e!important;
  text-decoration: underline;
}
footer {
  color: #fff;
  line-height: 2.5rem;
}
.subfooter{
  background: #272727;
  padding: 20px;
}
.copyright{
  margin: 15px;
  text-align: center;
}
.copyright a{
  margin: 0 20px;
}
.request-special{
  margin: 0 0 1em 0;
}

h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, .facets .facets-heading small, h4 .small, .facets .facets-heading .small, h5 small, #documents .document .document-title-heading small, h5 .small, #documents .document .document-title-heading .small, h6 small, h6 .small, .h1 small, .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, span.constraints-label small, .h5 .small, span.constraints-label .small, .h6 small, .h6 .small {
  color: #333;
}
.btn-danger{
  background: #DA190B;
  border-color: #DA190B;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  color: #333;
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus{
  color: #333;
}

.pagination>li>a, .pagination>li>span, pagination>li>a:hover {
  color: #035e8c;
  font-weight: 800;
  background-color: #fff;
}
.pagination>li>a:focus, .pagination>li>a:hover {
  text-decoration: underline;
  color: #035e8c;
}
/* ----      for Tablet display  ---------- */

@media screen and (max-width: 767px){
#header-navbar .navbar-toggle, #header-navbar .facets-toggle {
    background: #a40404;
}
}

/* ----       For mobile device  ------------ */
@media (max-width: 540px){
  .brand{
    font-size: 24px;
  }
  .request-special{
  margin: 1em 0 1em 0;
 }
}
@media (max-width: 414px){
  .lib-logo {
    width:120px;
    height: auto;
    margin: 10px 10px 10px 0;
  }
  #header-navbar .navbar-brand {
    width: 90px;
  }
  .brand {
    font-size: 16px;
    padding: 0;
  }
}

/* Restricted Playback */
.restricted-video {
  background-color: #000;
  vertical-align: middle;
  width: 100%;
  font-family: arial, helvetica, sans-serif;
}

.restricted-video-message {
  padding: 3rem 3rem 5rem 10rem ;
  position: relative;
  line-height: 1.4;
  color: white;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}

.restricted-video-message h3 {
  color: white;
}

.restricted-video-message::before {
  display: block;
  position: absolute;
  left: 3rem;
  top: 5rem;
  content: "!";
  border-radius: 50%;
  border: 0.4rem solid white;
  width: 5rem;
  height: 5rem;
  line-height: 4rem;
  text-align: center;
  color: white;
  font-size: x-large;
}
.restricted-video-message a {
  color: #f0ad4e
}

#browse-everything {
  margin-top: 4em;
}

#browse-everything > .modal-content {
  padding: 15px;
}

/* Selected Items buttons styling */
.bookmarksTools > a.btn{
  background-color: white;
  color: #0a2326;
  border: 1px solid #999;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.bookmarksTools > a.btn:hover {
  background-color: #f2f2f2;
  border-color: #999;
}

.bookmarksTools > a.btn:focus {
  box-shadow: none;
}

.bookmarksTools > a.btn:active {
  background-color: #f2f2f2 !important;
  border-color: #999 !important;
  box-shadow: none;
}